body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

header {
  display: flex;
  gap: 10px;
  padding: 15px;
  background: #000;
  align-items: center;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

nav {
  display: flex;
  gap: 10px;
  padding: 10px;
}

nav button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
  gap: 15px;
  padding: 15px;
}

.card {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 12px;
  transition: .3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #25D366;
  color: white;
  border: none;
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.carrito {
  position: fixed;
  right: -100%;
  top: 0;
  width: 280px;
  height: 100%;
  background: #222;
  padding: 20px;
  transition: .3s;
}

.carrito.active {
  right: 0;
}
  .card img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}